[user]
  name = Ben Truyman

[alias]
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  ready = !"git rebase -i @{u}"
  fc = !"git diff-tree --no-commit-id --name-only -r"

[branch]
  autosetuprebase = always

[color]
  ui = auto

[github]
  user = bentruyman

[push]
  default = simple
