[user]
  name = Ben Truyman

[alias]
  # Lists the files changed given a hash/path
  fc = !"git diff-tree --no-commit-id --name-only -r"

  # Lists all local branches, tags, or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

[branch]
  # Rebases automatically when pulling
  autosetuprebase = always

[color]
  ui = auto

[github]
  user = bentruyman

[push]
  default = simple
